/Figure_4A_6X_Massed.csv
/Figure_4A_6X_Spaced.csv
/Figure_4B_6X_Massed.csv
/Figure_4B_6X_Spaced.csv
/Figure_4B_No_training.csv
/Figure_4_boxplot.csv
/Figure_4_boxplot_sleep.csv
/Figure_4B_sleep.csv
/Figure_4.svg
/Figure_4.pdf
