/Figure_6A_boxplot.csv
/Figure_6A_GTACR2_3.5V.csv
/Figure_6A_GTACR2_4.0V.csv
/Figure_6A_GTACR2_4.5V.csv
/Figure_6A_Iso31_4.0V.csv
/Figure_6A_Iso31_4.5V.csv
/Figure_6B_GTACR2_3.5V_sleep.csv
/Figure_6B_GTACR2_4.0V_sleep.csv
/Figure_6B_GTACR2_4.5V_sleep.csv
/Figure_6B_GTACR2_sleep.csv
/Figure_6B_Iso31_4.0V_sleep.csv
/Figure_6B_Iso31_4.5V_sleep.csv
/Figure_6B_Iso31_sleep.csv
/Figure_6.svg
/Figure_6.pdf
